@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container {
    margin: 0 12.8rem;
}
.regular16 {
    font-size: 1.6rem;
    line-height: 130%;
}
a {
    text-decoration: none;
    display: inline-block;
    height: fit-content;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header{
  background-color: #30282426;
  padding: 0 2rem;
}
nav {
    font-family: "Heebo", sans-serif;
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: 1fr;
    padding: 2.4rem 0;
    align-items: center;
    justify-items: space-between;
  }
  .nav-items {
    color: #0d0da8;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 1px;

  }
  .logo {
    width: 12.8rem;
    height: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.5rem;
    background-color: #0d0da8;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-items:hover {
    color: #0d0da8;
  }
